<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <% if (!isAuthenticated) { %> 
    <h1>Welcome!</h1>
    <a href="/login">Sign in with Microsoft</a>
    <% } else { %>
    <h1>User Profile</h1> 
    <p>Username: <%= user.name %></p>
    <p>Email: <%= user.preferred_username %></p>
    <p>Roles: <%= user.roles %></p>
    <a href="/signout">Sign Out</a> 
    <% } %>
  </body>
</html>


