<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <% if (!isAuthenticated) { %>
    <h1>Welcome!</h1>
    <a href="/login">Sign in with Microsoft</a>
    <% } else { %>
    <h1>User Profile</h1>
    <p>Username: <%= user.preferred_username %></p>
    <p>Display Name: <%= user.name %></p>
    <p>Email: <%= user.upn || user.email %></p>
    <a href="/signout">Sign Out</a>
    <% } %>
  </body>
</html>
